<div class="overlayer">
    <div class="template-info row">
        <div class="col-md-3">
            <label>
                Naam template
                <input class="template-name input-xxlarge" id="T_Name" type="text" value="Mijn template">
            </label>
        </div>
        <div class="col-md-3">
            <label>
                Breedte
                <input class="template-width input-xxlarge" max="10000" min="10" name="T_Width" type="number"
                    value="1200">
            </label>
        </div>
        <div class="col-md-2"><label>
                Hoogte
                <input class="template-height input-xxlarge" id="Template_Height" max="10000" min="10" name="T.Height"
                    type="number" value="900">
            </label></div>
        <div class="col-md-3"><label>
                Formaat
                <mat-select>
                    <mat-option *ngFor="let format of fileTypes" [value]="format">
                        {{FileType2LabelMapping[format]}}
                    </mat-option>
                </mat-select>
                <label>
                    Is subtemplate
                    <div class="checker" id="uniform-Template_IsSubTemplate"><span><input id="Template_IsSubTemplate"
                                name="Template.IsSubTemplate" type="checkbox" value="true" class="input-xxlarge"></span>
                    </div>
                </label>
                <label>
                    Vraag wedstrijd
                    <div class="checker" id="uniform-Template_IsWedstrijd"><span><input id="Template_IsWedstrijd"
                                name="Template.IsWedstrijd" type="checkbox" value="true" class="input-xxlarge"></span>
                    </div>
                </label>
                <label>
                    Selecteerbaar in wizard
                    <div class="checker" id="uniform-Template_IsSelecteerbaar"><span><input
                                id="Template_IsSelecteerbaar" name="Template.IsSelecteerbaar" type="checkbox"
                                value="true" class="input-xxlarge"></span></div>
                </label>
            </label></div>
    </div>


    <div class="">
        <label>
            X1
            <input type="text" [(ngModel)]="rasterX" />
        </label>
        <label>
            Y1
            <input type="text" [(ngModel)]="rasterX" />
        </label>
        <label>
            X2
            <input type="text" [(ngModel)]="rasterXTwo" />
        </label>
        <label>
            Y2
            <input type="text" [(ngModel)]="rasterYTwo" />
        </label>
    </div>
    <div canvas (onMouseMoveEvent)='onMouseMove($event)'>
        <canvas class="example-boundary" id="canvas" canvas height="750" width="1450"
        style='z-index:-1'
             #htmlCanvas (mouseover)='over()' (mouseout)='out()'>
        </canvas>

    </div>

    <!-- <div cdkDragBoundary=".example-boundary"  id='chat' [style.top.px]='y'
                   [style.left.px]='x'
                   [style.width.px]='width'
                   [style.height.px]='height'
                   (mousedown)='onWindowPress($event)'
                   (mousemove)='onWindowDrag($event)' cdkDrag>
        <div (mousedown)='onCornerClick($event, topLeftResize)' id='chat-top-left-resize' class='chat-corner-resize'></div>
        <div (mousedown)='onCornerClick($event, topRightResize)' id='chat-top-right-resize' class='chat-corner-resize'></div>
        <div (mousedown)='onCornerClick($event, bottomLeftResize)' id='chat-bottom-left-resize' class='chat-corner-resize'></div>
        <div (mousedown)='onCornerClick($event, bottomRightResize)' id='chat-bottom-right-resize' class='chat-corner-resize'></div>
    </div> -->

</div>

<div (click)="exportToImg()" class="checkout-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-save-fill"
        viewBox="0 0 16 16">
        <path
            d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z" />
    </svg>
</div>